@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

a.active {
  text-decoration: underline;
}

a.active {
  background-color: tomato;
}

li {
  background-color: white;
  margin-left: 15px;
  color: black;
  border-radius: 5px;
}
