.food-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.food {
  border: 1px solid red;
  padding: 10px;
  border-radius: 8px;
}
.food img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .food-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .food {
    background-color: aqua;
  }
}
