.image-container {
  border: 1px solid tomato;
  display: flex;
  align-items: center;
}
.image-container div {
  width: 50%;
}
.image-container div img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .image-container {
    /* flex-direction: column; */
    flex-direction: column-reverse;
  }
}
