.flex-box-container {
  width: 100%;
  border: 1px solid tomato;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto;
  /* justify-content: center; */
  /* justify-content:end; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content:space-around; */
  /* justify-content:space-between; */
  /* justify-content:space-around; */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  /* justify-content: baseline; */
}
.box {
  width: 100px;
  height: 100px;
  border: 1px dashed rebeccapurple;
}
