@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
.brand {
  font-size: 3rem;
  font-weight: bold;
}
.nav-item {
  list-style: none;
  margin-right: 1.87rem;
}
.nav-link {
  text-decoration: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}

/* shared styles */
.display-flex {
  display: flex;
}
.text-dark1 {
  color: #131313;
}
.text-dark2 {
  color: #424242;
}
.text-dark3 {
  color: #727272;
}
.bg-color {
  background: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 1.1rem 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.text-color {
  color: #ff900e;
}
.section-title {
  font-size: 2.8rem;
  font-weight: bold;
}

/* banner styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}
.banner-description {
  font-size: 1rem;
  margin: 1.5rem 0rem;
}

.banner-image {
  width: 100%;
  padding: 0.5rem;
}

/* team and feature styles */
.main {
  max-width: 1440px;
  margin: 0px auto;
}
.main > section {
  margin-top: 130px;
}
.teams-img-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.tems {
  align-items: center;
}
.our-features {
  max-width: 530px;
  margin-left: 50px;
}

.features-description {
  margin: 1.5rem 0rem;
}

/* features enjoy styles */

.features-enjoy-container {
  width: 586px;
  display: flex;
  justify-content: space-between;
  gap: 0px 70px;
}
.enjoy-description {
  margin-top: 20px;
}
.borders {
  border-left: 5px solid;
  margin-right: 0.8rem;
}
.card {
  width: 586px;
  height: 171px;
  padding: 30px;
  margin: 20px 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.card-tittle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.experience-btn {
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 45px 42px;
  margin-left: -45px;
  margin-top: -110px;
}
.experience-year {
  font-size: 50px;
}
.experience {
  font-size: 25px;
  color: white;
}
/* some facts section */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-description {
  max-width: 542px;
  margin-bottom: 80px;
}
.fact {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 2.25rem 2.81rem;
  margin: 0rem 2.5rem;
  text-align: center;
}
.fact-number {
  margin: 10px 0px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Sponsors */
.our-sponsors {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 100px;
}

/* footer styles */
.footer-container {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #fff4e7;
  text-align: center;
  margin-bottom: 50px;
}
.footer-description {
  margin: 0 auto;
}
/* responsive media query small device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .brand {
    font-size: 2.5rem;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-image {
    width: 100%;
    padding: 0.3rem;
  }
  .tems {
    flex-direction: column;
  }
  .teams-img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem;
    padding: 10px;
  }
  .teams-img-container img {
    width: 100%;
    object-fit: cover;
  }
  .our-features {
    max-width: 100%;
    margin-left: 0px;
    padding: 10px;
  }
  .facts-container {
    grid-template-columns: 1fr;
  }
  .fact {
    margin-bottom: 10px;
  }
  .main > section {
    margin-top: 50px;
  }
  .fact-description,
  .section-title {
    padding: 10px;
  }
  .sponsors-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px 0px;
  }
  .features-enjoy-container {
    flex-direction: column;
  }
  .features-enjoy-container img {
    width: 100%;
    object-fit: cover;
  }
}

/* tablet device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .banner-image {
    width: 100%;
    padding: 0.3rem;
  }
  .tems {
    flex-direction: column;
  }
  .teams-img-container img {
    width: 100%;
    object-fit: cover;
  }
}

/* large device */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .tems {
    flex-direction: column;
  }
  .teams-img-container {
    margin-bottom: 1rem;
  }
  .facts-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .fact {
    margin-bottom: 15px;
  }
  .fact-description {
    max-width: 100%;
  }
  .fact-title,
  .fact-description {
    text-align: center;
  }
}
