.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: repeat(2, 200px) 200px; */
  /* grid-template-columns: repeat(3, 1fr) 1fr; */
  grid-template-columns: repeat(2, 1fr);
}
.box {
  width: 200px;
  height: 200;
  border: 1px solid tomato;
}
