.box-1,
.box-2 {
  width: 300px;
  height: 500px;
  border: 1px solid steelblue;
  /* overflow: hidden; */
  /* overflow: auto; */
  /* overflow: hidden; */
  overflow-x: auto;
}

.ellipsis {
  width: 200px;
  border: 1px solid tomato;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
