* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: aquamarine;
  padding: 0.5rem;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  margin-left: 20px;
}

ul > li > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
ul > li > a:hover {
  background-color: tomato;
  padding: 0.4rem;
  border-radius: 0.2rem;
  color: white;
}

main {
  margin-top: 1rem;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
